
<h1>Display your Pirate here<%="#{@pirate.name}, #{@pirate.weight},
#{@pirate.height}"%></h1>


<h2>Display your first ship here<%="#{@ship1.name}, #{@ship1.type},
#{@ship1.booty}"%></h2>


<h2>Display your second ship here<%="#{@ship2.name}, #{@ship2.type},
#{@ship2.booty}"%></h2>
